<li>
  <a href="#" class="block py-2 pr-4 pl-3 text-white hover:bg-blue-700/20 rounded md:font-bold md:bg-transparent md:text-blue-500 md:p-0 hover:md:bg-transparent dark:text-white" aria-current="page">
    <%= content %>
  </a>
</li>
