<%= render NavbarComponent.new(sticky: true) do |context| %>
  <% context.with_header do %>
    <a href="#" class="flex items-center">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path></svg>
      <span class="self-center mx-2 text-xl font-semibold whitespace-nowrap dark:text-white">PnP World</span>
    </a>
  <% end %> %>
  <% context.with_link do %>
    <%= render NavbarButtonComponent.new(active: true) do %>
      Current Page
    <% end %>
  <% end %> %>
  <% context.with_link do %>
    <%= render NavbarButtonComponent.new do %>
      Another Page
    <% end %>
  <% end %> %>
  <% context.with_link do %>
    <%= render NavbarButtonComponent.new do %>
      One More Page
    <% end %>
  <% end %> %>
<% end  %>
<div class="mt-20 md:mt-24 min-h-screen min-w-screen bg-neutral-200 dark:bg-neutral-500 m-4 p-2 rounded"></div>
