<li class="flex flex-row py-2 px-4 border-b border-gray-300">
  <%= character.name %> - <%= link_to "Character Page", character_path(character), class: "hyperlink", data: { turbo_frame: 'modal' } %>
</li>