<li id="<%= "#{dom_id(character)}_container" %>" class="flex flex-row py-2 px-4 border-b border-gray-300">
  <%= link_to character.name, character_path(character), class: "px-2 rounded", data: { turbo_action: "advance", turbo_frame: 'modal' } %>
</li>