<%= turbo_frame_tag "#{dom_id(@character)}_character_sheet" do %>
  <%= render HeaderComponent.new(level: 2) do %>
    Select a Class
  <% end %>

  <p class="py-2">
    No Character Sheets found for this Character. Create the Character Sheet
  </p>

  <div id="character_sheet" class="py-2 flex flex-wrap">
    <%= link_to "Create Barbarian", from_template_new_character_sheet_url(@character, { template: "barbarian" }), class: "btn-default" %>
  </div>
<% end %>
