@import "tailwindcss/base";

@import "tailwindcss/components";
@import "custom-components.css";

@import "tailwindcss/utilities";


input:not([type="submit"]) {
    @apply text-neutral-700;
}

.fade-out {
    opacity: 0;
    animation: fade-out-animation 200ms cubic-bezier(.25,.1,.25,1);
}

.fade-in {
    opacity: 1;
    animation: fade-in-animation 200ms cubic-bezier(.25,.1,.25,1);
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out-animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
